a {
  font-family: sans-serif;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: 0.2s ease-out;
}

.header {
  background: #fff;
  padding-inline: 16px;
  z-index: 1000;
  box-shadow: 0 8px 5px 0 rgba(0, 0, 0, 0.041);
}

.nav {
  max-width: 100%;
  height: 70px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10020;
  background: #fff;
}

.cadastrar {
  background-color: blue;
  transition: 0.2s ease-out;
  padding: 18px;
  border-radius: 5px;
}

.cadastrar:hover {
  background-color: rgba(0, 0, 255, 0.664);
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
}

.nav-list li:nth-child(4) a {
  color: #fff;
}

.nav-list a {
  padding-block: 16px;
}

.nav-list a:hover {
  color: #0540f2;
}

.nav-list a,
.nav-list li {
  font-size: 16px;
  color: #000;
}

.nome-usuario {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 5px;
  margin-right: 32px;
  display: none;
  border: 1px dashed black;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.096);
}

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid black;
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 30px;
  height: 3px;
  background: black;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

@media (max-width: 750px) {
  .hamburger {
    display: block;
    z-index: 1;
  }

  .nav {
    justify-content: space-between;
  }

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    clip-path: circle(100px at 90% -15%);
    transition: 1s ease-out;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
    pointer-events: none;
    z-index: 1500;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list a:hover {
    color: #0540f2;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }

  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
    z-index: 1500;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
    z-index: 1600;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
