h2 {
  text-align: center;
  font-family: "Silkscreen", sans-serif;
}

.container-pag {
  margin-block: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap-medium);
  padding: var(--gap-medium);
  border-radius: var(--border-radius);
  margin: 5px;
  width: fit-content;
  margin: 0 auto;
}

.content-pag {
  width: var(--porcento-100);
  padding: var(--gap-small);
  border-radius: var(--border-radius);
  border: var(--border-width) solid rgba(0, 0, 0, 0.397);
  height: auto;
  background-color: var(--color-white);
  transition: 0.5s ease-out;
}

.meio-pag {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.content-pag:hover {
  background-color: rgba(128, 128, 128, 0.168);
}

.pag-descr {
  font-size: var(--font-size-small);
}
