h2 {
  text-align: center;
}

.container-pag {
  margin-block: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  margin: 5px;
  width: fit-content;
  margin: 0 auto;
}

.content-pag {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0.397);
  height: auto;
  background-color: #fff;
  transition: 0.5s ease-out;
}

.meio-pag {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content-pag:hover {
  background-color: rgba(128, 128, 128, 0.168);
}

.pag-descr {
  font-size: 14px;
}
