.container-pag {
  margin-block: 24px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 16px;
  padding: 16px;
  border-radius: 5px;
  margin: 5px;
}

.content-pag {
  width: 100%;
  padding: 5px;
  border-radius: 8px;
  border: 3px solid rgba(0, 0, 0, 0.397);
}

.meio-pag {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content-pag:hover {
  background-color: rgba(128, 128, 128, 0.168);
}

.pag-descr {
  font-size: 14px;
}

@media screen and (max-width: 924px) {
  .container-pag {
    flex-direction: column;
  }
}
