section h1 {
  text-align: center;
  font-size: 32px;
}

.container-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 32px;
  margin-block: 30px;
  padding-inline: 10px;
}

.produto-1,
.produto-2,
.produto-3 {
  border-radius: 10px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.125);
}

.titulo {
  background-color: black;
  color: white;
  border-radius: 10px 10px 0 0;
  padding-block: 5px;
  text-align: center;
}

.img-produto {
  width: 100%;
  height: auto; /* Alterado para ajustar a altura proporcionalmente à largura */
  max-height: 300px; /* Limita a altura máxima */
}

.container-descricao {
  display: flex;
  justify-content: center;
  align-items: center; /* Alterado para centralizar verticalmente */
  flex-direction: column;
  padding: 3px;
}

.descricao {
  font-size: 16px;
  line-height: 1.5;
  color: #424242;
  font-weight: 500;
}

.container-preco {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-block: 10px;
}

.preco-antigo {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.preco-novo {
  font-size: 20px;
  font-weight: bolder;
  color: green;
}

.btn-conferir {
  background-color: #60bf81;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 0 0 10px 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.btn-conferir:hover {
  background-color: #60bf81a7;
}

.btn-conferir a {
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .container-produtos {
    grid-template-columns: repeat(auto-fit, 1fr);
  }

  .img-produto {
    max-height: 200px;
  }

  .container-preco {
    align-items: flex-start;
  }
}
