.container-filto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px auto;
  width: fit-content;
}

.container-select {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-select label {
  margin: 0 12px;
  font-family: "Silkscreen", sans-serif;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 200px;
}

select option {
  padding: 8px;
}

@media (max-width: 750px) {
  .container-select {
    flex-direction: column;
  }
}
