.container-form {
  margin-block: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  width: 500px;
  padding: var(--gap-medium);
  background: var(--color-white);
  border-radius: 10px;
}

label,
input[type="submit"] {
  font-weight: bold;
}

input,
select {
  margin-bottom: 5px;
}

input {
  padding: 3px;
}

input[type="button"] {
  background-color: var(--primary-color);
  color: var(--color-white);
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: var(--border-width) solid var(--secondary-color);
}

#msgError,
#msgSuccess {
  text-align: center;
  padding: var(--gap-small);
  border-radius: var(--border-radius);
  display: none;
}

#msgError {
  color: #ff0000;
  background-color: #ffbbbb;
}

#msgSuccess {
  color: #00bb00;
  background-color: #bbffbe;
}
