footer {
  background-color: var(--color-white);

  border-radius: var(--gap-medium) var(--gap-medium) 0 0;
}

footer h3 {
  color: var(--color-white);
  font-weight: bold;
  font-family: "Silkscreen", sans-serif;
}

.container-footer {
  padding: var(--gap-medium);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: var(--gap-medium);
  background-color: var(--color-white);
  border-radius: var(--gap-medium) var(--gap-medium) 0 0;
}

.descricao-footer {
  text-align: center;
  width: 200px;
}

.container-footer h3 {
  margin-block: 5px;
}

.container-footer p {
  color: rgba(0, 0, 0, 0.808);
  font-size: var(--font-size-small);
  text-align: center;
}

.redesSociais {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 12px;
  gap: 5px;
}

.lista-footer {
  list-style-type: none;
  text-align: center;
}

.lista-footer li a {
  text-decoration: underline;
  color: var(--item-menu-color);
  font-size: var(--font-size-small);
}

.links-footer a {
  color: var(--item-menu-color);
}

.links-footer {
  color: var(--color-white);
}

footer h3 {
  color: var(--text-color);
}

.contato {
  color: var(--text-color);
  text-decoration: underline;
}

@media screen and (max-width: 700px) {
  .container-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
