/*

<footer>
      <article class="container-footer">
        <div class="descricao-footer">
          <h3>E-Commerce</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Reprehenderit natus nostrum at neque qui.
          </p>
        </div>
        <div class="links-footer">
          <h3>Links Úteis</h3>
          <ul>
            <li><a href="inicio.html" class="link-footer">Início</a></li>
            <li><a href="produtos.html" class="link-footer">Produtos</a></li>
            <li><a href="carrinho.html" class="link-footer">Carrinho</a></li>
            <li><a href="cadastrar.html" class="link-footer">Cadastrar</a></li>
          </ul>
        </div>
        <div>
          <h3>Informações de Contato</h3>
          <p><b>Cidade:</b> Ponta Grossa, PR</p>
          <p><b>Telefone:</b> +55 (42) 998123456</p>
          <p><b>E-mail:</b> contato@info.com</p>
        </div>
      </article>
      <article>
        <span>Desenvolvido com <3</span>
      </article>
    </footer>

*/

.container-footer {
  padding-block: 16px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 16px;
  background-color: rgb(162, 167, 171);
}

.descricao-footer {
  width: 200px;
}

.container-footer h3 {
  margin-block: 5px;
}

.copy-footer {
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  text-align: center;
  font-size: 18px;
  padding-block: 16px;
}
