footer h3 {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.container-footer {
  padding: 16px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  gap: 16px;
  background-color: #b6b6b67d;
  border-radius: 15px 15px 0 0;
}

.descricao-footer {
  width: 200px;
}

.container-footer h3 {
  margin-block: 5px;
}

.lista-footer {
  list-style-type: none;
}

.lista-footer li a {
  text-decoration: underline;
  color: rgba(0, 0, 255, 0.807);
}

.copy-footer {
  background-color: #000;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-block: 16px;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .container-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .descricao-footer {
  }
}
