.custom-img {
  height: 650px;
}

.nav-heigth {
  height: 85px;
}

.w100 {
  width: 100%;
}

.card-fixed {
  height: 500px; 
}
.card-fixed img {
  height: 200px; 
  object-fit: cover;
}


@media screen and (max-width: 768px) {
  .custom-img {
    height: 550px;
  }
  
  body {
    background-color: blueviolet;
  }
}

@media screen and (min-width: 768px) {

  .preco {
    font-size: 1.3em;
  }

  .preco del {
    font-size: 1em;
  }

  body {
    background-color: lightgreen;
  }
}

/* Grande (lg) */
@media screen and (min-width: 992px) {

  .nav-item {
    margin: 0 auto;
  }

  .btn {
    margin: 0 auto;
  }

  #navbarNav .navbar-nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .custom-img {
    height: 300px;
  }

  .preco {
    font-size: 1.6em;
  }

  .preco del {
    font-size: 1.2em;
  }

  body {
    background-color: lightpink;
  }
}

/* Extra grande (xl) */
@media screen and (min-width: 1200px) {

  .preco {
    font-size: 1.8em;
  }

  .preco del {
    font-size: 1.4em;
  }

  body {
    background-color: lavender;
  } 
}
