@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dedede56;
}

.title {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.074);
  text-align: center;
  margin: 0px;
}

.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: blue;
  padding: 6px;
  display: inline-flex;
  border-radius: 50%;
  color: var(--first-color);
  font-size: 1.25rem;
  box-shadow: 0 4px 12px hsla(228, 15%, 8%, 0.4);
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}
