.container-wrraper-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 15px;
  max-width: 500px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.042);
}

.container-info-usu {
  width: 100%;
}

.title-info {
  color: #03a64a;
  text-shadow: 3px 4px 5px rgba(0, 0, 0, 0.042);
  font-family: "Silkscreen", sans-serif;
  font-size: 22px;
}

span {
  margin-bottom: 12px;
  border-bottom: 2px solid gray;
  width: 100%;
  display: block;
  font-size: 14px;
}
