.container-wrraper-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 15px;
  max-width: 500px;
  margin: 30px auto;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: var(--gap-large);
  box-shadow: var(--shadow);
}

.container-info-usu {
  width: var(--porcento-100);
}

.title-info {
  color: var(--secondary-color);
  text-shadow: var(--shadow);
  font-family: "Silkscreen", sans-serif;
  font-size: var(--font-size-large);
}

span {
  margin-bottom: 12px;
  border-bottom: 2px solid gray;
  width: var(--porcento-100);
  display: block;
  font-size: var(--font-size-small);
}
