h1, h2 {
    color: #333;
}

h2 {
    text-align: left !important;
    margin-top: 20px !important;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    margin: 10px 0;
}
