main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: 32px auto;
}

.container-carrinho {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  overflow: auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.092);

  width: fit-content;
  background-color: #39393938;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
  max-width: none;
}

table th,
table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: rgb(216, 215, 215);
}

table th {
  background-color: #f2f2f2;
}

td,
th {
  width: 160px;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  display: flex;
  justify-content: flex-start;
}

.produto {
  border-top: 3px solid gray;
}

.nome-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantidadeProd {
  width: 100px;
  border-radius: 5px;
  padding: 4px 5px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.092);
}

.removerProd {
  background-color: red;
  padding: 8px 12px;
  border: none;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.092);
}

#removerProd:hover {
  background-color: rgba(255, 0, 0, 0.707);
}

.container-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.container-valor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-block: 16px;
}

#finalizarCompra {
  background-color: #60bf81;
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 8px;
  border: 3px solid #3b8c66;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.092);
}

#finalizarCompra:hover {
  background-color: #60bf81d8;
  border: 3px solid #3b8c66d7;
}

#cupomDesc {
  border: 2px solid rgba(128, 128, 128, 0.786);
  padding: 5px 12px;
  border-radius: 5px;
}

.imgProd {
  border-radius: 5px;
  width: 100px;
  height: 100px;
}

#msgCupom {
  display: none;
  background-color: black;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: bold;
  font-size: 16px;
}

#msg-compra-finalizada {
  display: none;
  background-color: yellow;
  padding: 5px 7px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.5s;
  border-bottom: 3px solid green;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.092);
}
