.nav-list li:nth-child(3) a {
  color: var(--secondary-color);
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  margin: var(--gap-large) auto;
}

.container-carrinho {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  overflow: auto;
  overflow: auto;
  box-shadow: var(--shadow);

  width: fit-content;
  background-color: #39393938;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  width: fit-content;
  padding: var(--gap-small);
  max-width: none;
}

table th,
table td {
  padding: var(--gap-small);
  border-bottom: 1px solid #ddd;
}

table tr:hover {
  background-color: rgb(216, 215, 215);
}

table th {
  background-color: #f2f2f2;
}

td,
th {
  width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  display: flex;
  justify-content: flex-start;
}

.produto {
  border-top: var(--border-width) solid gray;
}

.nome-produto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantidadeProd {
  width: 100px;
  border-radius: var(--border-radius);
  padding: 4px 5px;
  box-shadow: var(--shadow);
}

.removerProd {
  background-color: red;
  padding: var(--gap-small) 12px;
  border: none;
  font-weight: bold;
  color: var(--color-white);
  border-radius: var(--border-radius);
  cursor: pointer;
  box-shadow: var(--shadow);
}

#removerProd:hover {
  background-color: rgba(255, 0, 0, 0.707);
}

.container-info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  justify-content: center;
  align-items: center;
}

.container-valor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-block: var(--gap-medium);
}

#finalizarCompra {
  background-color: var(--primary-color);
  color: var(--color-white);
  padding: var(--gap-small) var(--gap-medium);
  width: var(--porcento-100);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--secondary-color);
  cursor: pointer;
  font-weight: bold;
  font-size: var(--font-size-medium);
  box-shadow: var(--shadow);
}

#finalizarCompra:hover {
  background-color: var(--primary-hover-color);
  border: var(--border-width) solid var(--secondary-hover-color);
}

#cupomDesc {
  border: var(--border-width) solid rgba(128, 128, 128, 0.786);
  padding: var(--gap-small) 12px;
  border-radius: var(--border-radius);
}

.imgProd {
  border-radius: var(--border-radius);
  width: 100px;
  height: 100px;
}

#msgCupom {
  display: none;
  background-color: black;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  padding: 5px var(--gap-small);
  font-weight: bold;
  font-size: var(--font-size-medium);
}

#msg-compra-finalizada {
  display: none;

  padding: 5px var(--gap-small);
  font-weight: bold;
  border-radius: var(--border-radius);
  transition: 0.5s;
  background-color: #fff;
  border: var(--border-width) solid var(--primary-color);
  box-shadow: var(--shadow);
}

@media screen and (max-width: 750px) {
  td,
  th {
    width: 150px;
  }
}

@media screen and (max-width: 670px) {
  td,
  th {
    width: 120px;
  }
}

@media screen and (max-width: 520px) {
  td,
  th {
    width: 90px;
    font-size: 12px;
  }

  tr {
  }

  .removerProd {
    background-color: red;
    padding: 4px 6px;
  }

  .quantidadeProd {
    width: 70px;
    border-radius: var(--border-radius);
    padding: 4px 6px;
    box-shadow: var(--shadow);
  }

  .container-info {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    justify-content: center;
    align-items: center;
  }

  .container-valor:nth-child(1) {
    text-align: center;
  }
}
